# Plaid Configuration
PLAID_CLIENT_ID=692f67b1020e6f00233529ce
PLAID_SECRET=ebf30dc968d8927cd9672a489a153e
PLAID_ENV=sandbox
# Options: sandbox, development, production

# AWS Configuration
AWS_REGION=us-east-1
DYNAMODB_TABLE_NAME=coinly-dev
COGNITO_CLIENT_ID=your_cognito_client_id_here
COGNITO_USER_POOL_ID=your_cognito_user_pool_id_here

# Demo Mode
DEMO_MODE=true
NODE_ENV=development